{% load static %}

{% if cart_items %}
<!--Cart canvas template-->
<div class="border text-center">
    <h2 class="headings headings-sm my-1">Total: €{{ grand_total }}</h2>
    {% if free_delivery_delta > 0 %}
        <small><em>Including delivery of €{{ delivery|floatformat:2 }}.</em></small>
        <br>
        <small><em>Spend €{{ free_delivery_delta }} more for free delivery!</em></small>
    {% else %}
        <small><em>Including free delivery!</em></small>
    {% endif %}
</div>
<div class="col-12">
    <!-- Warning for users that cart does expire -->
    {% if checkout_time is not None %}
    <p class="text-center">The items in your cart are held for two hours. Please checkout by {{ checkout_time }}</p>
    {% endif %}
    {% for item in cart_items %}
        <div class="cart-card text-center mx-auto row">
            <div class="col-6 px-0">
                {% if item.product.thumbnail %}
                <img class="cart-pics" src="{{ item.product.thumbnail.url }}" alt="{{ item.product }}">
                {% else %}
                <img width="300" height="300" class="pics" src="{% static 'images/placeholder.png' %}" alt="No image available for {{ item.product }}">
                {% endif %}
            </div>
            <div class="col-6 px-0">
                <p class="mb-0"><strong>{{ item.product }}</strong></p>
                <p class="mb-0"><small>{{ item.size }}</small></p>
                <p class="mb-0"><strong>{{ item.quantity }}</strong><small>in cart</small></p>
            </div>
        </div>
    {% endfor %}   
</div>
<!-- Clear cart option if items in cart -->
<div class="text-center">
    <a class="chilli-btn chilli-dngr" href="{% url 'cart:clear_cart' %}">Clear Cart</a>
</div>
{% else %}
<p class="text-center my-5">Your cart is empty.</p>
{% endif %}