{% extends 'base.html' %}

{% block content %}

{{ session_key }}
<br>

{% for held_cart in held_items %}

{{ held_cart.check_time }}
<br>

{{ held_cart.cart_key }}
<br>
{{ held_cart.owner }}
<br>
{{ held_cart.hold_time_start }}
<br>
{{ held_cart.held_items.all }}
<br>
{{ held_cart.held_items.variant }}
<br>
{{ held_cart.held_items.variant.id }}
<br>
{% for item in held_cart.held_items.all %}
{{ item.product }}
<br>
{{ item.variant }}
<br>
{{ item.variant.id }}
<br>
{{ item.qty }}
<br>
{% endfor %}

{% endfor %}

{% endblock %}