{% extends 'base.html' %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}

<!-- Contact form -->
<section>
    <h1 class="headings text-center">Contact Us</h1>
    <div>

    </div>
</section>
<section class="row">
    <div class="col-12 col-md-6">
        <h2 class="headings headings-sm text-center">Send us a message</h2>
        <form id="contact-form" method="POST" class="col-8 mx-auto">
            {% csrf_token %}
            <div class="mb-3">
                <label for="contact_name" class="form-label">Name:</label>
                <input type="text" name="contact_name" class="form-control" id="contact_name" placeholder="Your Name" required>
            </div>
            <div class="mb-3">
                <label for="contact_email" class="form-label">Email address:</label>
                <input type="email" name="contact_email" class="form-control" id="contact_email" placeholder="name@example.com"
                required>
            </div>
            <div class="mb-3">
                <label for="contact_message" class="form-label">Your Message:</label>
                <textarea name="contact_message" class="form-control" id="contact_message" rows="3"></textarea>
            </div>
            <button type="submit" class="chilli-btn float-end">Send Message</button>
        </form>
    </div>
    <div class="col-12 col-md-6">
        <h2 class="headings headings-sm text-center">Our Location</h2>
        <table>
            <tr>
                <th>Call Us: </th>
                <td><a href="tel:+35311111111">+353 1 111 1111</a></td>
            </tr>
            <tr>
                <th>Email Us: </th>
                <td><a href="mailto:portprojtest@gmail.com">Email The Chillibox</a></td>
            </tr>
            <tr>
                <th class="align-top">Find Us: </th>
                <td>No. 1, <br>
                    SomeRoad<br>
                    SomeTown</td>
            </tr>
            <tr>
                <th>Facebook Us: </th>
                <td></td>
            </tr>
            <tr>
                <th>Tweet Us: </th>
                <td></td>
            </tr>
        </table>
        <div>

        </div>
    </div>
</section>

{% endblock %}