{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<!-- Carousel section -->
<section id="bs-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#bs-carousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#bs-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#bs-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/chilli_title.jpg' %}" class="d-block w-100 pics" alt="The Chillibox hero image">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/chillisauce.jpg' %}" class="d-block w-100 pics" alt="The Chillibox hot sauce">
            <div class="carousel-caption d-none d-sm-block car-text">
                <p class="mb-0">Spice up your life with our hot sauces!</p>
                <a class="chilli-link" href="{% url 'products:category' slug='sauces' %}">Go To Sauces &raquo;</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/chilli_vars.jpg' %}" class="d-block w-100 pics"
                alt="The Chillibox chilli varieties">
            <div class="carousel-caption d-none d-sm-block car-text">
                <p class="mb-0">Grow your own with our variety of seeds!</p>
                <a class="chilli-link" href="{% url 'products:category' slug='seeds' %}">Go To Seeds &raquo;</a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#bs-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bs-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>
<!-- Intro section -->
<section class="container-md">
    <!-- This row has header and blurb-->
    <div class="row">
        <h1 class="headings">Welcome to The Chillibox!</h1>
        <p>At The Chillibox we love all things <strong>spicy</strong>!</p>
        <p>We offer a selection of seeds of different heat levels to grow your own <strong>chilli pepper plants</strong>. And a variety of <strong>hot sauces</strong> made in-house from our own plants grown here in Ireland.</p>
    </div>
    <hr>
    <!-- This row is more specific -->
    <div class="row">
        <div class="col-md-6 position-relative">
            <h2 class="headings headings-sm">The Sauces & Seeds</h2>
            <p>We have a passion for spicy food and make all our hot sauces in house. Take a look at our <a class="chilli-link" href="{% url 'products:category' slug='sauces' %}">hot sauces</a> to find a delicious addition to your cupboard.</p>
            <p>Want to have a go at making your own hot sauce using the same varities of chilli peppers as us? Browse our selection of <a class="chilli-link" href="{% url 'products:category' slug='seeds' %}">seeds</a> and get started on growing your own chilli plants at home!</p>
        </div>
        <div class="col-md-6">
            <h2 class="headings headings-sm">The Boxes</h2>
            <p>Not sure exactly what you're looking for?</p>
            <p>Our <a class="chilli-link" href="{% url 'products:category' slug='saucebox' %}">seedboxes</a> come in a variety of options. Just pick which heat level suits you best and you'll receive a carefully selected combination of seeds to grow at home.</p>
            <p>Feeling adventurous, starting your own hot sauce collection, or looking for a gift for a friend who's a hot sauce fiend? Visit our <a class="chilli-link" href="{% url 'products:category' slug='seedbox' %}">sauceboxes</a> and find a carefully curated collection of sauces that suits you.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <!-- Most recently added products -->
        <h3 class="headings headings-sm mb-1">Newest Products:</h3>
        <p>Take a look at these products we've just added:</p>
        {% for product in latest_products %}
        <div class="col-md-6 col-lg-3 my-2">
                <div class="chilli-card text-center mx-auto">
                    <h4>{{ product }}</h4>
                    {% if product.thumbnail %}
                        <img class="pics thumbs" src="{{ product.thumbnail.url }}" alt="{{ product }}">
                    {% else %}
                        <img width="300" height="300" class="pics thumbs" src="{% static 'images/placeholder.png' %}" alt="No image available for {{ product }}">
                    {% endif %}
                    <p class="excerpt">{{ product.excerpt }}</p>
                    <a class="chilli-link" href="{% url 'products:product' product.slug %}">View {{ product }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}