{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Confirm Delete
{% endblock %}

{% block content %}

<div class="col-md-6 mx-auto">
    <a class="chilli-link" href="{% url 'profiles:profile' %}">&laquo; Go To Profile</a>

    <form method="POST">
        {% csrf_token %}
        <h1 class="headings headings-sm">Are you sure?</h1>
        <p>Deleting your account is <strong>not</strong> reversible.</p>
        <p>If you need to access your order history in future, you will need to contact support.</p>
        {{ form|crispy }}
        <button class="chilli-btn chilli-dngr" type="submit">Yes, delete</button>
    </form>
</div>

{% endblock %}