{% extends 'base.html' %}

{% block title %}
{{ profile }}
{% endblock %}

{% block content %}
<!-- User Profile Details -->
<section class="row">
    <div class="col-12 col-md-6">
        <div class="col-10 mx-auto">
            <h1 class="headings">Your Details</h1>
            <table class="table">
                <tr>
                    <th>First Name: </th>
                    <td>{{ profile.first_name }} </td>
                </tr>
                <tr>
                    <th>Last Name: </th>
                    <td>{{ profile.last_name }} </td>
                </tr>
                <tr>
                    <th>Username: </th>
                    <td>{{ profile.user.username }} </td>
                </tr>
                <tr>
                    <th>Display Name: </th>
                    <td>{{ profile.display_name }} </td>
                </tr>
                <tr>
                    <th>Phone Number: </th>
                    <td>{{ profile.phone_number }} </td>
                </tr>
                <tr>
                    <th>Email: </th>
                    <td>{{ profile.user.email }} </td>
                </tr>
            </table>
            <h2 class="headings">Your Address</h2>
            <table class="table">
                <tr>
                    <th>Street Address: </th>
                    <td>{{ profile.street_address1 }} </td>
                    <td>{{ profile.street_address2 }} </td>
                </tr>
                <tr>
                    <th>Town Or City: </th>
                    <td>{{ profile.town_or_city }} </td>
                </tr>
                <tr>
                    <th>County: </th>
                    <td>{{ profile.county }} </td>
                </tr>
                <tr>
                    <th>Country: </th>
                    <td>{{ profile.country }} </td>
                </tr>
                <tr>
                    <th>Postcode: </th>
                    <td>{{ profile.postcode }} </td>
                </tr>
            </table>
            <a class="chilli-btn" href="{% url 'profiles:edit_profile' %}">Edit Details</a>
            <div>
                <p><a class="chilli-link" href="{% url 'profiles:review_list' %}">Go here</a>
                 to view your reviews.</p>
            </div>
        </div>
    </div>

    <!-- User Order History -->
    <div class="col-12 col-md-6">
        <div class="col-10 mx-auto">
            <h2 class="headings">Your Order History</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.order_number|truncatechars:8 }}</td>
                        <td>{{ order.date|date:'d/m/y' }}</td>
                        <td>{{ order.grand_total }}</td>
                        <td>
                            <a class="chilli-btn" href="{% url 'profiles:order_history' order.order_number %}">
                                View
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}