{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}
<div class="container-md">
    <div class="col-md-8 mx-auto">
        <!-- Form for editing profile details -->
        <h1 class="headings headings-sm text-center">Edit Your Details</h1>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ form|crispy}}
            <button class="chilli-btn" type="submit chilli-go">Submit</button>
        </form>
    </div>
</div>

{% endblock %}