{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Edit Review
{% endblock %}

{% block content %}
<section class="container-md">
    <div class="col-md-8 mx-auto">
        <!-- Review form for editing -->
        <h1 class="headings headings-sm">Edit Review</h1>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ form|crispy}}
            <button class="chilli-btn chilli-go" type="submit">Submit</button>
        </form>
    </div>
</section>

{% endblock %}