{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Checkout
{% endblock %}

{% block content %}
<!-- Order summary section -->
<section class="row">
    <h1 class="headings text-center">Checkout</h1>
    <div class="col-md-6">
        <h2 class="headings headings-sm">Order Summary: </h2>
        <div class="col-md-8 mx-auto">
            <p><strong>Total Items: </strong>{{ product_count }}</p>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td>
                            {% if item.product.image %}
                            <img class="cart-pics" src="{{ item.product.thumbnail.url }}" alt="{{ product }}">
                            {% else %}
                            <img width="300" height="300" class="cart-pics" src="{% static 'images/placeholder.png' %}" alt="No image available for {{ product }}">
                            {% endif %}
                        </td>
                        <td>
                            <p class="mb-0">{{ item.product.name }}</p>
                            <p class="mb-0"><small>{{ item.variant }}</small></p>
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td>€{{ item.variant.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p><strong>Delivery: </strong>€{{ delivery|floatformat:2 }}</p>
            <p><strong>Grand Total: </strong>€{{ grand_total|floatformat:2 }}</p>
        </div>
    </div>
<!-- Delivery details -->
    <div class="col-md-6">
        <h2 class="headings headings-sm">Your Details:</h2>
        <form class="col-10 col-lg-8 mx-auto" action="{% url 'checkout:checkout' %}" method="POST" id="payment-form">
            {% csrf_token %}
            <fieldset>
                <legend class="fieldset-label small px-2 w-auto">Delivery Details</legend>
                {{ order_form|crispy }}
            </fieldset>
            {% if user.is_authenticated %}
                <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
            {% endif %}
            <fieldset class="px-3">
                <legend class="fieldset-label small px-2 w-auto">Payment</legend>
                <!-- A Stripe card element will go here -->
                <div class="mb-3" id="card-element"></div>
                <!-- Used to display form errors -->
                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                <!-- Pass the client secret to the view so we can get the payment intent id -->
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
            </fieldset>
            <p>Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong></p>
            <button type="submit" class="chilli-btn">Complete Order</button>
        </form>
    </div>
</section>
<div id="loading-overlay">
    <h1 class="logo-font loading-spinner">
        <span class="icon">
            <i class="fa-solid fa-spinner"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block additional_script %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script type="text/javascript" src="{% static 'js/stripe_element.js' %}"></script>
{% endblock %}