{% extends "base.html" %}
{% load static %}

{% block title %}
Success
{% endblock %}

{% block content %}
<!-- Template for checkout success -->
<section>
    <!-- Thank you message -->
    <div class="text-center">
        <h2 class="headings">Thank you!</h2>
        <h3 class="headings headings-sm">We have your order.</h3>
        <!-- Link to download PDF of order -->
        <a class="chilli-btn" href="{% url 'checkout:order_pdf' order.pk %}">Download PDF</a> 
    </div>
</section>
<!-- Summary of order details -->
<section class="row">
    <h3 class="headings">Your Order Details</h3>
    <!-- Breakdown of the order, including costs and items -->
    <div class="col-12 col-md-6">
        <h4 class="headings headings-sm">Order Info:</h4>
        <p><strong>Order Number: </strong>{{ order.order_number }}</p>
        <p><strong>Placed On: </strong>{{ order.date }}</p>
        <p><strong>Order Total: </strong>€{{ order.order_total|floatformat:2 }}</p>
        <p><strong>Delivery: </strong>€{{ order.delivery_cost|floatformat:2 }}</p>
        <p><strong>Grand Total: </strong>€{{ order.grand_total|floatformat:2 }}</p>
        <table class="table">
            {% for item in order.lineitems.all %}
                <tr>
                    <th><small>{{ item.product }} - {{ item.variant.size }}</small></th>
                    <td>{{ item.quantity }} at €{{ item.variant.price }} each</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-12 col-md-6">
        <!-- Delivery details -->
        <h4 class="headings headings-sm">Delivery Info:</h4>
        <table class="table">
            <tr>
                <th>Name: </th>
                <td>{{ order.first_name }} {{ order.last_name }}</td>
            </tr>
            <tr>
                <th>Number: </th>
                <td>{{ order.phone_number }}</td>
            </tr>
            <tr>
                <th>Address 1: </th>
                <td>{{ order.street_address1 }}
                    {% if order.stress_address2 %}
                    <br>{{ order.street_address2 }}</td>
                    {% endif %}
            </tr>
            <tr>
                <th>Town or City: </th>
                <td>{{ order.town_or_city }}</td>
            </tr>
            <tr>
                <th>County: </th>
                <td>{{ order.county }}</td>
            </tr>
            <tr>
                <th>Country: </th>
                <td>{{ order.country }}</td>
            </tr>
            {% if order.postcode %}
            <tr>
                <th>Postcode: </th>
                <td>{{ order.postcode }}</td>
            </tr>
            {% endif %}
        </table>
    </div>
</section>
{% endblock %}