{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{ recipe }}
{% endblock %}

{% block content %}
<section class="container-fluid">
    <div class="col-sm-10 col-md-8 mx-auto recipe-card">
        <div class="text-center">
            <h1 class="headings mb-2">{{ recipe }}</h1>
            <span><small>Added on {{ recipe.created }}</small></span>
        </div>
        <hr>
        {% if recipe.image %}
        <div class="row">
            <div class="col-md-6">
                <img class="pics pics-lg" src="{{ recipe.image.url }}" alt="{{ recipe }}">
            </div>
            <div class="col-md-6">
                <div>
                    {{ recipe.intro|linebreaks }}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-8 mx-auto">
            <div>
                {{ recipe.intro|linebreaks }}
            </div>
        </div>
        {% endif %}
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h2 class="headings headings-sm">Ingredients</h2>
                <ul class="recipe-ingredients">
                    {{ recipe.ingredients|safe }}
                </ul>
            </div>
            <div class="col-md-8">
                <h2 class="headings headings-sm">Directions</h2>
                <ol class="recipe-directions">
                    {{ recipe.directions|safe }}                    
                </ol>
            </div>
        </div>
        <hr>
        <div class="col-8 mx-auto">
            {{ recipe.outro|linebreaks }}
        </div>
    </div>
</section>
<hr>
<section class="container-fluid">
    <div class="col">
        <h1 class="headings">Comments</h1>
        {% if commented %}
        <p><strong>Thank you for your comment!</strong> It is awaiting moderation.</p>
        {% else %}
        <h3>Leave a comment for {{ recipe }}</h3>
        <form class="col-lg-4 mb-5" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <p>Commenting as: {% if user.is_authenticated %}{{ user }}{% else %}Anonymous{% endif %}</p>
            <button type="submit" class="chilli-btn">Submit</button>
        </form>
        {% endif %}
    </div>
    <div class="row">
        {% for comment in comments %}
        <div class="col-sm-6 col-lg-4 mb-5 mb-3">
            <div class="card px-4">
                <h2 class="headings big">
                    {% if comment.user is not None %}{{ comment.user.userprofile.display_name }}{% else %}Anonymous{% endif %} <span
                        class="small">on {{ comment.added_on|date:'d/m/y' }}</span></h2>
                <p>{{ comment }}</p>
                <div class="d-flex flex-row justify-content-between my-2">
                    {% if user.userprofile == comment.user %}
                        <a class="chilli-btn chilli-go" href="{% url 'recipes:edit_comment' comment.pk %}">Edit comment</a>
                    {% endif %}
                    {% if user.is_staff or user.userprofile == comment.commenter %}
                        <a class="chilli-btn chilli-dngr" href="{% url 'recipes:delete_comment' comment.pk %}">Delete Review</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p><strong>No comments yet. Be the first to leave one!</strong></p>
        {% endfor %}
    </div>
</section>

{% endblock %}