{% extends 'base.html' %}

{% load static %}

{% block title %}
Recipes
{% endblock title %}

{% block content %}
<section class="container-fluid">
    <div class="col-12">
        <h1 class="headings text-center">Recipes</h1>
        <div class="col-10 mx-auto">
            {% for recipe in recipe_list %}
            <div class="col-md-6 my-4 mx-auto">
                <h2 class="headings big"><a class="chilli-link" href="{% url 'recipes:recipe' recipe.slug %}">{{ recipe }} &raquo;</a></h2>
                <div>
                    <span class="small">Added on {{ recipe.created|date:'d/m/y' }}</span>
                    <p class="p-2">{{ recipe.excerpt }}</p>
                </div>
                {% if user.is_authenticated %}
                <div class="d-flex flex-row justify-content-evenly">
                    <a class="chilli-btn chilli-go" href="{% url 'recipes:edit_recipe' recipe.pk %}">Edit recipe</a>
                    <a class="chilli-btn chilli-dngr" href="{% url 'recipes:delete_recipe' recipe.pk %}">Delete recipe</a>
                </div>
                {% endif %}
                <hr>
            </div>
            {% empty %}
            <p>There aren't any recipes yet!</p>
            {% endfor %}
        </div>
    </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number" class="page-link">&laquo; PREV</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number" class="page-link">NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
</section>
{% endblock content %}