<!-- Footer with short description of app, contact details and social links -->
<footer class="footer mt-auto">
    <div class="container-md">
        <div class="row">
            <div class="col-md-6">
                <h2 class="footer-headings">Contact Us</h2>
                <p>
                    The Chillibox,<br>
                    Kill Village,<br>
                    Kildare.
                </p>
                <p>
                    Find out how to contact us <a class="chilli-link-alt" href="{% url 'home:contact' %}">here</a>.
                </p>
            </div>
            <div class="col-md-6">
                <h2 class="footer-headings">Social Media</h2>
                <a class="chilli-link-alt footer-socials" href="https://facebook.com" target="_blank" rel="noopener"
                    aria-label="Find us on Facebook (opens in new tab)"><i class="fa-brands fa-facebook"></i></a>
                <a class="chilli-link-alt footer-socials" href="https://twitter.com" target="_blank" rel="noopener"
                    aria-label="Find us on Twitter (opens in new tab)"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
        <div class="row text-center">
            <p>For educational purposes only.</p>
        </div>
    </div>
</footer>