<!-- Footer with short description of app, contact details and social links -->
<footer class="footer mt-auto">
    <div class="container-md">
        <div class="row">
            <div class="col-md-6">
                <h2 class="footer-headings">Contact</h2>
                <p>
                    Business Contact Details
                </p>
            </div>
            <div class="col-md-6">
                <h2 class="footer-headings">Social Media</h2>
                <a class="pet-links footer-socials" href="https://facebook.com" target="_blank" rel="noopener"
                    aria-label="Find us on Facebook (opens in new tab)"><i class="fa-brands fa-facebook"></i></a>
                <a class="pet-links footer-socials" href="https://twitter.com" target="_blank" rel="noopener"
                    aria-label="Find us on Twitter (opens in new tab)"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
        <div class="row text-center">
            <p>For educational purposes only.</p>
        </div>
    </div>
</footer>