{% extends "base.html" %}

{% load i18n %}

{% block title %}Logout{% endblock %}

{% block content %}
<section class="col text-center mx-auto">
  <h1 class="headings">{% trans "Sign Out" %}</h1>

  <p>{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="chilli-btn" type="submit">{% trans 'Sign Out' %}</button>
  </form>
</section>

{% endblock %}