{% extends 'base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<section class="row">
    <!-- Management landing template - products -->
    <div class="text-center">
        <h1 class="headings mb-2">Products</h1>
        <div class="d-flex flex-row justify-content-center">
            <div class="border border-2 p-1">
                <a class="chilli-link" href="{% url 'management:user_reviews' %}">Reviews</a>
            </div>
            <div class="border border-2 p-1">
                <a class="chilli-link" href="{% url 'management:recipes' %}">Recipes</a>
            </div>
        </div>
    </div>
    <div class="text-center my-3">
        <div>
            <a class="chilli-btn" href="{% url 'management:add_product' %}">Add New Product</a>
        </div>
    </div>
    <small class="text-center warning-text">This page is best viewed on larger screens.</small>
    <!-- Group added products by category -->
    {% regroup products by category as products_by_category %}
    {% for category in products_by_category %}
    <div class="col-12 col-lg-6">
        <!-- Category heading -->
        <h2 class="headings">{{ category.grouper}}</h2>
        {% regroup category.list by subcategory as subcategory_list %}
            {% for subcategory in subcategory_list %}
            <h3 class="headings headings-sm">{{ subcategory.grouper }} {{ category.grouper }}</h3>
            <div class="table-responsive">
                <table class="table table-hover">
                    {% for product in subcategory.list %}
                        <thead>
                            <tr class="table-secondary">
                                <th>Name</th>
                                <th class="sm-prod-table">Thumbnail</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                <th>Add Variant</th>
                            </tr>
                        </thead>
                        <!-- Product details -->
                        <tbody>
                            <tr>
                                <td class="align-middle"><a class="chilli-link" href="{% url 'products:product' product.slug %}">
                                    {{ product.name }}</a></td>
                                <td class="align-middle sm-prod-table">{% if product.thumbnail %}Yes{% else %}No{% endif %}</td>
                                <td class="align-middle">
                                    <a class="chilli-btn" href="{% url 'management:edit_product' product.id %}">Edit</a>
                                </td>
                                <td class="align-middle">
                                    <a class="chilli-btn chilli-dngr"
                                        href="{% url 'management:delete_product' product.id %}">Delete</a>
                                </td>
                                <td class="align-middle">
                                    <a class="chilli-btn" href="{% url 'management:add_variant' product.slug %}">Add</a>
                                </td>
                                <td class="align-middle">
                                    <button class="chilli-btn" role="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ product.id }}"
                                        aria-expanded="false" aria-controls="collapse-{{ product.id }}">
                                        Variants
                                        <i class="fa-solid fa-caret-down"></i>
                                    </button>                            
                                </td>
                            </tr>
                                <thead>
                                    <tr>
                                        <th>Size</th>
                                        <th class="sm-prod-table">Price</th>
                                        <th>Stock</th>
                                        <th>Update Stock</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody class="collapse" id="collapse-{{ product.id }}">
                                    <!-- Product variants -->
                                    {% for variant in product.variants.all %}
                                    <tr>
                                        <td>{{ variant.size }}</td>
                                        <td class="sm-prod-table">{{ variant.price }}</td>
                                        <td>{{ variant.current_stock }}</td>
                                        <td><a class="chilli-btn" data-hx-get="{% url 'management:update_stock' variant.pk %}"
                                                data-hx-target="#dialog">Update</a></td>
                                        <td>
                                            <a class="chilli-btn" href="{% url 'management:edit_variant' variant.id %}">Edit</a>
                                        </td>
                                        <td>
                                            <a class="chilli-btn chilli-dngr"
                                                href="{% url 'management:delete_variant' variant.id %}">Delete</a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>No variants added</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>

{% endblock %}
<!-- Script for modal for stock update -->
{% block additional_script %}
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}