{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<section class="row">
    <a class="chilli-link" href="{% url 'home:index' %}">&laquo; Go Home</a>
    <div class="col-12 col-lg-6">
        <!-- Left / Top Column -->
        <div class="col-12">
            <!-- Manage Categories - necessary at this level? Creating a category requires new links etc, reconsider -->
            <div class="d-flex align-items-center">
                <h1 class="headings">Categories</h1>
                <a class="chilli-btn ms-5" href="{% url 'products:add_category' %}">Add New Category</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>
                            <button role="button" data-bs-toggle="collapse" data-bs-target="#collapse-cat"
                                aria-expanded="false" aria-controls="collapse-cat">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody class="collapse" id="collapse-cat">
                    {% for cat in categories %}
                    <tr>
                        <td>{{ cat.name }}</td>
                        <td><a class="chilli-btn" href="{% url 'products:edit_category' cat.pk %}">Edit</a></td>
                        <td><a class="chilli-btn chilli-dngr"
                                href="{% url 'products:delete_category' cat.pk %}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <!-- Subcategory Management -->
            <div class="d-flex align-items-center">
                <h1 class="headings">SubCategories</h1>
                <a class="chilli-btn ms-5" href="{% url 'products:add_subcategory' %}">Add New SubCategory</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>
                            <button role="button" data-bs-toggle="collapse" data-bs-target="#collapse-subcat"
                                aria-expanded="false" aria-controls="collapse-subcat">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody class="collapse" id="collapse-subcat">
                    {% for subcat in subcategories %}
                    <tr>
                        <td>{{ subcat.name }}</td>
                        <td>
                            <a class="chilli-btn" href="{% url 'products:edit_subcategory' subcat.pk %}">Edit</a>
                        </td>
                        <td>
                            <a class="chilli-btn chilli-dngr"
                                href="{% url 'products:delete_subcategory' subcat.pk %}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-12">
            <div class="d-flex align-items-center">
                <!-- Product Variant Management-->
                <h1 class="headings">Product Variants</h1>
                <a class="chilli-btn ms-5" href="{% url 'products:add_variant' %}">Add New Product Variants</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>
                            <button role="button" data-bs-toggle="collapse" data-bs-target="#collapse-variants"
                                aria-expanded="false" aria-controls="collapse-variants">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody class="collapse" id="collapse-variants">
                    {% for variant in variants %}
                    <tr>
                        <td>{{ variant.size }}</td>
                        <td>{{ variant.price }}</td>
                        <td>
                            <a class="chilli-btn" href="{% url 'products:edit_variant' variant.pk %}">Edit</a>
                        </td>
                        <td>
                            <a class="chilli-btn chilli-dngr"
                                href="{% url 'products:delete_variant' variant.pk %}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Could be side by side on larger screens?? -->
    <!-- Probably want to be able to filter and search - consider sorting/admin search -->
    <div class="col-12 col-lg-6">
        <!-- Right / Second Column: Product Management -->
        <div class="d-flex align-items-center">
            <h1 class="headings">Products</h1>
            <a class="chilli-btn ms-5" href="{% url 'products:add_product' %}">Add New Product</a>
        </div>
        <!-- For now regroup - consider different ordering?? -->
        {% regroup products by category as products_by_category %}
        {% for category in products_by_category %}
        <div class="row">
            <h2 class="headings headings-sm">{{ category.grouper }}</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Thumbnail</th>
                            <th>In Stock</th>
                            <th>Current Stock</th>
                            <th>Update Stock</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>
                                <button role="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse-{{ category.grouper }}" aria-expanded="false"
                                    aria-controls="collapse-{{ category.grouper }}">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="collapse" id="collapse-{{ category.grouper }}">
                        {% for product in category.list %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{% if product.thumbnail %}Yes{% else %}No{% endif %}</td>
                            <td>{{ product.in_stock }}</td>
                            <td>{{ product.current_stock }}</td>
                            <td><a class="chilli-btn" data-hx-get="{% url 'products:update_stock' product.pk %}"
                                    data-hx-target="#dialog">Update</a></td>
                            <td>
                                <a class="chilli-btn" href="{% url 'products:edit_product' product.pk %}">Edit</a>
                            </td>
                            <td>
                                <a class="chilli-btn chilli-dngr"
                                    href="{% url 'products:delete_product' product.pk %}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}