{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<section class="row">
    <div class="d-flex justify-content-evenly">
        <a class="chilli-link big" href="{% url 'home:index' %}">&laquo; Go Home</a>
        <h1 class="headings">Products</h1>
        <div>
            <a class="chilli-btn ms-5" href="{% url 'management:add_product' %}">Add New Product</a>
            <a class="chilli-btn" href="{% url 'management:add_variant' %}">Add New Variant</a>       
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="headings">Seeds</h2>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Thumbnail</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>
                        <button role="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-seed" aria-expanded="false"
                            aria-controls="collapse-seed">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody class="collapse" id="collapse-seed">
                {% for seed in seeds %}
                <tr>
                    <td>{{ seed.name }}</td>
                    <td>{% if seed.thumbnail %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <a class="chilli-btn" href="{% url 'management:edit_product' seed.id %}">Edit</a>
                    </td>
                    <td>
                        <a class="chilli-btn chilli-dngr"
                            href="{% url 'management:delete_product' seed.id %}">Delete</a>
                    </td>
                </tr>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Update Stock</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>
                                <button role="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-{{ seed.id }}" aria-expanded="false"
                                aria-controls="collapse-{{ seed.id }}">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="collapse" id="collapse-{{ seed.id }}">
                        {% for variant in seed.variants.all %}
                        <tr>
                            <td>{{ variant.size }}</td>
                            <td>{{ variant.price }}</td>
                            <td>{{ variant.current_stock }}</td>
                            <td>Update Filler</td>
                            <td>
                                <a class="chilli-btn" href="{% url 'management:edit_variant' variant.id %}">Edit</a>
                            </td>
                            <td>
                                <a class="chilli-btn chilli-dngr" href="{% url 'management:delete_variant' variant.id %}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </tbody>
        </table>
    </div>





    <div class="col-12 col-lg-6">

        {% regroup products by category as products_by_category %}
        {% for category in products_by_category %}
        <div class="row">
            <h2 class="headings headings-sm">{{ category.grouper }}</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Thumbnail</th>
                            <th>In Stock</th>
                            <th>Current Stock</th>
                            <th>Update Stock</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>
                                <button role="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse-{{ category.grouper }}" aria-expanded="false"
                                    aria-controls="collapse-{{ category.grouper }}">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="collapse" id="collapse-{{ category.grouper }}">
                        {% for product in category.list %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{% if product.thumbnail %}Yes{% else %}No{% endif %}</td>
                            <td>{{ product.in_stock }}</td>
                            <td>{{ product.current_stock }}</td>
                            <td>
                                <a class="chilli-btn" href="{% url 'management:edit_product' product.pk %}">Edit</a>
                            </td>
                            <td>
                                <a class="chilli-btn chilli-dngr"
                                    href="{% url 'management:delete_product' product.pk %}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}