{% extends 'base.html' %}

{% block title %}
Recipe Comments
{% endblock %}

{% block content %}
<!-- Manage recipe comments -->
<section class="col">
    <div class="text-center">
        <h2 class="headings mb-2">Recipe Comments</h2>
        <div class="d-flex flex-row justify-content-center">
            <div class="border border-2 p-1">
                <a class="chilli-link" href="{% url 'management:user_reviews' %}">Reviews</a>
            </div>
            <div class="border border-2 p-1">
                <a class="chilli-link" href="{% url 'management:dashboard' %}">Products</a>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div class="border border-2 p-1">
                <a class="chilli-link" href="{% url 'management:user_recipes' %}">Submitted Recipes</a>
            </div>
            <div class="border border-2 p-1">
                <a class="chilli-link" href="{% url 'management:recipes' %}">Recipes</a>
            </div>
        </div>
    </div>
    <div>
        <!-- Comments -->
        {% for comment in comment_list %}
        <div class="col-sm-8 mx-auto my-3">
            <div class="row">
                <div class="col-sm-4">
                    <p><strong>{{ comment.user }}</strong></p>
                    <p>Added on {{ comment.added_on|date:'d/m/y' }}</p>
                </div>
                <div class="card col-sm-8">
                    {{ comment.content }}
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between my-3 mx-sm-5">
                <!-- Delete comment -->
                <a class="chilli-btn chilli-dngr" href="{% url 'recipes:delete_comment' comment.pk %}">Delete comment</a>
                {% if comment.approved %}
                <span><strong>Approved</strong></span>
                {% else %}
                <!-- Approve comment -->
                <form action="{% url 'management:approve_comment' comment.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="checkbox" aria-label="Approve comment">
                    <button type="submit" class="chilli-btn chilli-go">Approve</button>
                </form>
                {% endif %}
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number" class="page-link">NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</section>
{% endblock %}