{% extends 'base.html' %}
{% load static %}

{% block title %}
Recipes
{% endblock %}

{% block content %}
<!-- Manage recipes -->
<section class="row">
    <div class="text-center">
        <h1 class="headings mb-2">Recipes</h1>
        <div class="d-flex flex-row justify-content-center">
            <div class="border border-2 p-1">
                <a class="chilli-link" href="{% url 'management:user_reviews' %}">Reviews</a>
            </div>
            <div class="border border-2 p-1">
                <a class="chilli-link" href="{% url 'management:dashboard' %}">Products</a>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div class="border border-2 p-1">
                <a class="chilli-link" href="{% url 'management:user_recipes' %}">Submitted Recipes</a>
            </div>
            <div class="border border-2 p-1">
                <a class="chilli-link" href="{% url 'management:recipe_comments' %}">Recipe Comments</a>
            </div>
        </div>
    </div>
    <div class="text-center my-3">
        <!-- Add recipe -->
        <div>
            <a class="chilli-btn" href="{% url 'recipes:add_recipe' %}">Add Recipe</a>
        </div>
    </div>
    <div class="col-12">
        <div class="col-10 mx-auto">
            <!-- List of created recipes -->
            {% for recipe in recipe_list %}
            <div class="col-md-6 mx-auto">
                <div class="recipe-card">
                    <h2 class="headings headings-sm">{{ recipe }}</h2>
                    <div>
                        <span class="small">Created on {{ recipe.created|date:'d/m/y' }}</span>
                    </div>
                    <hr>
                    <div>
                        {{ recipe.intro|linebreaks }}
                    </div>
                    <hr>
                    <div>
                        <h3 class="headings big">Ingredients</h3>
                        <ul class="recipe-ingredients">
                        {{ recipe.ingredients|safe }}
                        </ul>
                    </div>
                    <hr>
                    <div>
                        <h3 class="headings big">Directions</h3>
                        <ol class="recipe-directions">
                        {{ recipe.directions|safe }}
                        </ol>
                    </div>
                    <hr>
                    <div>
                        {{ recipe.outro|linebreaks }}
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-evenly">
                    {% if recipe.published %}
                    <div>
                        <span><strong>Published</strong>: </span>
                        <a class="chilli-link" href="{% url 'recipes:recipe' recipe.slug %}">{{ recipe }}</a>
                    </div>
                    {% else %}
                    <!-- Publish recipe -->
                    <form action="{% url 'management:publish_recipe' recipe.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="checkbox">
                        <button type="submit" class="chilli-btn chilli-go">Publish</button>
                    </form>
                    {% endif %}
                    <!-- Edit or delete recipe -->
                    <a class="chilli-btn chilli-go" href="{% url 'recipes:edit_recipe' recipe.pk %}">Edit recipe</a>
                    <a class="chilli-btn chilli-dngr" href="{% url 'recipes:delete_recipe' recipe.pk %}">Delete recipe</a>
                </div>
            </div>
            {% empty %}
            <p>There aren't any recipes yet!</p>
            {% endfor %}
        </div>
    </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number" class="page-link">&laquo; PREV</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number" class="page-link">NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
</section>
{% endblock %}