{% extends 'base.html' %}
{% load static %}

{% block title %}
Submitted Recipes
{% endblock %}

{% block content %}
<!-- User submitted recipes -->
<section class="row">
    <div class="text-center">
        <h1 class="headings mb-2">User Submitted Recipes</h1>
        <div class="d-flex flex-row justify-content-center">
            <div class="border border-2 p-1">
                <a class="chilli-link" href="{% url 'management:user_reviews' %}">Reviews</a>
            </div>
            <div class="border border-2 p-1">
                <a class="chilli-link" href="{% url 'management:dashboard' %}">Products</a>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div class="border border-2 p-1">
                <a class="chilli-link" href="{% url 'management:recipes' %}">Recipes</a>
            </div>
            <div class="border border-2 p-1">
                <a class="chilli-link" href="{% url 'management:recipe_comments' %}">Recipe Comments</a>
            </div>
        </div>
    </div>
    <div class="col-10 col-md-8 mx-auto">
        <p>These recipes have been submitted by users for consideration to publish on the website. Please review, and if suitable to submit, remember to credit the author and mark the recipe as 'published' to notify the user.</p>
    </div>
    <div class="col-12">
        <div class="col-10 mx-auto">
            <!-- List of submitted recipes -->
            {% for recipe in submittedrecipe_list %}
            <div class="col-md-6 mx-auto">
                <div class="recipe-card">
                    <h2 class="headings big">{{ recipe }}</h2>
                    <div>
                        <p class="mb-0">Submitted by: {{ recipe.user.userprofile.display_name }}</p>
                        <span class="small">Submitted on {{ recipe.submitted_on|date:'d/m/y' }}</span>
                    </div>
                    <div>
                        {{ recipe.ingredients|linebreaks }}
                    </div>
                    <div>
                        {{ recipe.directions|linebreaks }}
                    </div>
                    <div>
                        {{ recipe.notes|linebreaks }}
                    </div>
                </div>
                <div class="row d-flex flex-row justify-content-between">
                    <div class="col-12 col-sm-6 text-center">
                        {% if recipe.publish %}
                        <span><strong>Published</strong></span>
                        {% else %}
                        <!-- Mark recipe as published if chosen to be used on site -->
                        <form action="{% url 'management:publish_submitted' recipe.pk %}" method="POST">
                            {% csrf_token %}
                            <input type="checkbox">
                            <button type="submit" class="chilli-btn chilli-go">Published</button>
                        </form>
                        <span><small>Mark as published if used.</small></span>
                        {% endif %}
                    </div>
                    <div class="col-12 col-sm-6 text-center">
                        <a class="chilli-btn chilli-dngr" href="{% url 'recipes:delete_submitted' recipe.pk %}">Delete recipe</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>There aren't any recipes yet!</p>
            {% endfor %}
        </div>
    </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number" class="page-link">&laquo; PREV</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number" class="page-link">NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
</section>
{% endblock %}