{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ category }}
{% endblock %}

{% block content %}
<section class="container-md">
    <div>
        <!-- Category heading with add button for staff -->
        <div class="d-flex flex-row align-items-center justify-content-between">
            <h1 class="headings">{{ category }}</h1>
            <form action="{% url 'products:category' category.slug %}" method="GET">
                <select id="filter_subcat" name="filter_subcat" id="filter_subcat" class="border rounded-0">
                    <option value="default" {% if current_filterkey == "None" %}selected{% endif %}>All {{ category }}</option>
                    <option value="mild" {% if current_filterkey == "mild" %}selected{% endif %}>Mild</option>
                    <option value="medium" {% if current_filterkey == "medium" %}selected{% endif %}>Medium</option>
                    <option value="hot" {% if current_filterkey == "hot" %}selected{% endif %}>Hot</option>
                    <option value="mega hot" {% if current_filterkey == "mega hot" %}selected{% endif %}>Mega Hot</option>
                </select>
                <button class="chilli-btn px-1 py-0 rounded-1">Go</button>
            </form>
        </div>
        {% if user.is_staff %}
        <a class="chilli-btn ms-5" href="{% url 'management:add_product' %}">Add New Product</a>
        {% endif %}
    </div>
    <div class="row d-flex justify-content-evenly">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center">
            <div class="h-100 border-0 chilli-card text-center mx-auto">
                <div>
                    <h2 class="headings headings-sm">{{ product.name }}</h2>
                </div>
                
                <div class="my-3">
                    {% if product.thumbnail %}
                        <img class="pics" src="{{ product.thumbnail.url }}">
                    {% else %}
                        <img width="160" height="160" class="pics" src="{% static 'images/placeholder.png' %}">
                    {% endif %}
                </div>
                
                <div>
                    <div class="row">
                        <div class="col">
                            {% if product.excerpt %}
                            <p class="excerpt">{{ product.excerpt }}</p>
                            {% else %}
                            <p class="excerpt">Currently no info.</p>
                            {% endif %}
                            {% if product.check_stock %}
                            <p>In stock.</p>
                            {% else %}
                            <p>Out of stock.</p>
                            {% endif %}
                            <a class="chilli-link" href="{% url 'products:product' product.slug %}">View
                                {{ product.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Staff options -->
            {% if user.is_staff %}
            <div class="my-3">
                <a class="chilli-btn" href="{% url 'management:edit_product' product.pk %}">Edit Product</a>
                <a class="chilli-btn chilli-dngr" href="{% url 'management:delete_product' product.pk %}">Delete
                    Product</a>
            </div>
            {% endif %}
        </div>
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none my-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none my-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none my-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-xl-block my-5">
            <hr>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
<div>
    <a id="scroll-btn" class="chilli-btn float-end me-5">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>	
</div>

<script>
    const scrollBtn = document.getElementById("scroll-btn")
    scrollBtn.addEventListener("click", () => {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}