{% extends 'base.html' %}
{% load static %}

{% block title %}
Shop
{% endblock %}

{% block content %}
<section class="container-md">
    <!-- Latest sauces -->
    <div class="row py-4">
        <div class="row d-flex flex-row align-items-center mb-2">
            <h2 class="headings col-12 col-sm-6">Latest Sauces</h2>
            <a class="chilli-link big col-12 col-sm-6" href="{% url 'products:category' slug='sauces' %}">View all sauces &raquo;</i></a>
        </div>
        {% for sauce in saucecat %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5 text-center">
            <div class="chilli-card mx-auto text-center">
                <h3 class="headings headings-sm">{{ sauce }}</h3>
                {% if sauce.thumbnail %}
                <img class="pics thumbs" src="{{ sauce.thumbnail.url }}" alt="{{ sauce }}">
                {% else %}
                <img width="300" height="300" class="pics thumbs" src="{% static 'images/placeholder.png' %}" alt="No image available for {{ sauce }}">
                {% endif %}
                <p class="excerpt">{{ sauce.excerpt }}</p>
                <p>
                    {% if sauce.check_stock %}
                    In Stock
                    {% else %}
                    Out of Stock
                    {% endif %}
                </p>
                <a class="chilli-link" href="{% url 'products:product' sauce.slug %}">View {{ sauce }}</a>
            </div>
        </div>
        {% empty %}
            <p>No sauces</p>
        {% endfor %}
    </div>
    <hr class="mt-5">
    <!-- Latest sauceboxes -->
    <div class="row py-4">
        <div class="row d-flex flex-row align-items-center mb-2">
            <h2 class="headings col-12 col-sm-6">Latest Sauceboxes</h2>
            <a class="chilli-link big col-12 col-sm-6" href="{% url 'products:category' slug='saucebox' %}">View all boxes &raquo;</i></a>
        </div>
        {% for saucebox in sauceboxcat %}
        <div class="col-md-3 text-center">
            <div class="chilli-card mx-auto text-center">
                <h3 class="headings headings-sm">{{ saucebox }}</h3>
                {% if saucebox.thumbnail %}
                <img class="pics thumbs" src="{{ saucebox.thumbnail.url }}">
                {% else %}
                <img width="300" height="300" class="pics thumbs" src="{% static 'images/placeholder.png' %}" alt="No image available for {{ saucebox }}">
                {% endif %}
                <p class="excerpt">{{ saucebox.excerpt }}</p>
                <p>
                    {% if saucebox.check_stock %}
                    In Stock
                    {% else %}
                    Out of Stock
                    {% endif %}
                </p>
                <a class="chilli-link" href="{% url 'products:product' saucebox.slug %}">View {{ saucebox }}</a>
            </div>
        </div>
        {% empty %}
            <p>No sauceboxes</p>
        {% endfor %}
    </div>
    <hr class="mt-5">
    <!-- Latest seeds -->
    <div class="row py-4">
        <div class="row d-flex flex-row align-items-center mb-2">
            <h2 class="headings col-12 col-sm-6">Latest Seeds</h2>
            <a class="chilli-link big col-12 col-sm-6" href="{% url 'products:category' slug='seeds' %}">View all seeds &raquo;</i></a>
        </div>
        {% for seed in seedcat %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5 text-center">
            <div class="chilli-card mx-auto text-center">
                <h3 class="headings headings-sm">{{ seed }}</h3>
                {% if seed.thumbnail %}
                <img class="pics thumbs" src="{{ seed.thumbnail.url }}">
                {% else %}
                <img width="300" height="300" class="pics thumbs" src="{% static 'images/placeholder.png' %}" alt="No image available for {{ seed }}">
                {% endif %}
                <p class="excerpt">{{ seed.excerpt }}</p>
                <p>
                    {% if seed.check_stock %}
                    In Stock
                    {% else %}
                    Out of Stock
                    {% endif %}
                </p>
                <a class="chilli-link" href="{% url 'products:product' seed.slug %}">View {{ seed }}</a>
            </div> 
        </div>
        {% empty %}
            <p>No seeds</p>
        {% endfor %}
    </div> 
    <hr class="mt-5">
    <!-- Latest seedboxes -->
    <div class="row py-4">
        <div class="row d-flex flex-row align-items-center mb-2">
            <h2 class="headings col-12 col-sm-6">Latest Seedboxes</h2>
            <a class="chilli-link big col-12 col-sm-6" href="{% url 'products:category' slug='seedbox' %}">View all boxes &raquo;</i></a>
        </div>
        {% for seedbox in seedboxcat %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5 text-center">
            <div class="chilli-card mx-auto text-center">
                <h3 class="headings headings-sm">{{ seedbox }}</h3>
                {% if seedbox.thumbnail %}
                <img class="pics thumbs" src="{{ seedbox.thumbnail.url }}">
                {% else %}
                <img width="300" height="300" class="pics thumbs" src="{% static 'images/placeholder.png' %}" alt="No image available for {{ seedbox }}">
                {% endif %}
                <p class="excerpt">{{ seedbox.excerpt }}</p>
                <p>
                    {% if seedbox.check_stock %}
                    In Stock
                    {% else %}
                    Out of Stock
                    {% endif %}
                </p>
                <a class="chilli-link" href="{% url 'products:product' seedbox.slug %}">View {{ seedbox }}</a>
            </div>
        </div>
        {% empty %}
            <p>No seedboxes</p>
        {% endfor %}
    </div>
</section>

{% endblock %}