{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<section class="container-fluid">
    <div class="mt-4">
        <!-- Link to return to products (and product dashboard for admin)-->
        <a class="chilli-link big" href="{% url 'products:latest' %}">&laquo; To Latest
            Products</a><br>
        <a class="chilli-link big" href="{% url 'products:category' product.category.slug %}">&laquo; To {{ product.category }}</a>
        <!-- Link for staff to management dashboard-->
        {% if user.is_staff %}
        <a class="chilli-link float-end" href="{% url 'management:dashboard' %}">Go To Dashboard &raquo;</a>
        {% endif %}
    </div>
    <div class="row m-4">
        <!-- Product image and description -->
        <div class="col-lg-6 text-center">
            <div>
                <h1 class="headings">{{ product.name }}</h1>
            </div>
            {% if product.image %}
            <div>
                <img class="pics pics-lg" src="{{ product.image.url }}">
            </div>
            {% endif %}
            <p class="m-5 text-start">{{ product.description }}</p>
            {% if user.is_staff %}
                <!-- Edit and Delete for admin -->
                <a class="chilli-btn" href="{% url 'management:edit_product' product.pk %}">Edit Product</a>
                <a class="chilli-btn chilli-dngr" href="{% url 'management:delete_product' product.pk %}">Delete Product</a>
            {% endif %}
        </div>
        <div class="col-lg-6 d-flex flex-column">
            <!-- Table for product details -->
            <div>
                <h2 class="headings headings-sm">{{ product.name }} Details:</h2>
                <table class="table table-borderless">
                    <tr>
                        <th>Category: </th>
                        <td>{{ product.category }}</td>
                    </tr>
                    <tr>
                        <th>SubCategory: </th>
                        <td>{{ product.subcategory }}</td>
                    </tr>
                    <tr>
                        {% if product.growth_time %}
                        <th>Growth time to maturity: </th>
                        <td>{{ product.growth_time }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if product.heat_level %}
                        <th>Heat: </th>
                        <td>{{ product.heat_level }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if product.ingredients %}
                        <th>Ingredients: </th>
                        <td>{{ product.ingredients }}</td>
                        {% endif %}
                    </tr>
                    {% if product.variants %}
                    <tr>
                        <th>Available Sizes: </th>
                        
                        <td>
                            {% for variant in product.variants.all %}
                            <p class="mb-0">{{ variant.size }} - €{{ variant.price }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                    
                    {% endif %}
                    {% if product.box_contents.all %}
                    <tr>
                        <th class="align-top">Contents: </th>
                        <td>{% for content in product.box_contents.all %}<p class="m-0">{{ content.name }}</p>
                            {% endfor %}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Stock: </th>
                        {% if product.in_stock %}
                        {% if product.current_stock >= 10 %}
                        <td>In stock</td>
                        {% else %}
                        <td>Less than 10 left!</td>
                        {% endif %}
                        {% else %}
                        <td>Out of stock</td>
                        {% endif %}
                    </tr>
                </table>
            </div>
            <div class="order-1 order-lg-2">
                <h3 class="headings big">Add To Cart:</h3>
                <form action="{% url 'cart:add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <label class="me-4"><strong>Select Options:</strong></label>
                        <select id="prices" name="product_variant" id="product_variant" class="border rounded-3">
                            {% for variant in product.variants.all %}
                            <option data-variant_id="{{ variant.id }}" value="{{ variant.id }}">{{ variant.size }}
                                €{{ variant.price }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="my-3">
                        <label class="me-4"><strong>Select Quantity: </strong></label>
                        <div id="change_qty" class="d-inline">
                            {% if product.current_stock > 0 %}
                            <button type="button" id="dec_qty" class="chilli-btn">-</button>
                            <input class="text-center" data-item_id="{{ product.id }}" name="quantity" id="product_qty"
                                type="number" value="1" min="0" max="99">
                            <button type="button" id="inc_qty" class="chilli-btn">+</button>
                            {% endif %}
                            <p id="qty_warning"><em>No more available</em></p>
                        </div>
                    </div>
                    <button class="chilli-btn my-2 d-block" type="submit">Add To Cart</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Current stock of product - could alternatively display in product details instead of boolean?? -->
{{ product.current_stock|json_script:'current_stock' }}

<!-- Script for quantity selection-->
<script type="text/javascript">
    const decrease = document.getElementById("dec_qty")
    const increase = document.getElementById("inc_qty")
    const quantity = document.getElementById("product_qty")
    const warning = document.getElementById("qty_warning")
    const stock = JSON.parse(document.getElementById("current_stock").textContent)

    decrease.addEventListener("click", decQty)
    increase.addEventListener("click", incQty)

    if (stock == 0) {
        quantity.value = 0
        warning.style.display = "block"
    } else {
        warning.style.display = "none"
    }

    let qty = Number(quantity.value)

    function decQty() {
        if (qty > 1) {
            qty--
            quantity.value = qty
        }
        if (qty < stock || qty == 99) {
            warning.style.display = "none"
        }
    }

    function incQty() {
        if (qty < stock && qty < 99) {
            qty++
            quantity.value = qty
        }
        if (qty == stock || qty == 99) {
            warning.style.display = "block"
        }
    }
</script>
{% endblock %}