{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{{ product }}
{% endblock %}

{% block content %}
<section class="container-fluid">
    <div class="row m-sm-4">
        <!-- Product image and description -->
        <div class="col-lg-6 text-center">
            <div>
                <h1 class="headings">{{ product }}</h1>
            </div>
            <div>
                {% if product.image %}
                    <img class="pics pics-lg" src="{{ product.image.url }}" alt="{{ product }}">
                {% else %}
                    <img width="300" height="300" class="pics pics-lg" src="{% static 'images/placeholder.png' %}" alt="No image available for {{ product }}">
                {% endif %}
            </div>
            <p class="text-contain">{{ product.description|linebreaks }}</p>
            {% if user.is_staff %}
            <div class="d-flex flex-row justify-content-evenly my-3">
                <!-- Edit and Delete for admin -->
                <a class="chilli-btn" href="{% url 'management:edit_product' product.pk %}">Edit Product</a>
                <a class="chilli-btn chilli-dngr" href="{% url 'management:delete_product' product.pk %}">Delete Product</a>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-6 d-flex flex-column">
            <!-- Table for product details -->
            <div class="order-2 order-lg-1">
                <h2 class="headings headings-sm">{{ product }} Details:</h2>
                <table class="table table-borderless text-contain">
                    <tr>
                        <th>Category: </th>
                        <td>{{ product.category }}</td>
                    </tr>
                    <tr>
                        {% if product.growth_time %}
                        <th>Growth time to maturity: </th>
                        <td>{{ product.growth_time }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if product.heat_level %}
                        <th>Heat: </th>
                        <td>{{ product.heat_level }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if product.ingredients %}
                        <th>Ingredients: </th>
                        <td>{{ product.ingredients }}</td>
                        {% endif %}
                    </tr>
                    {% if product.variants %}
                    <tr>
                        <th>Options: </th>
                        <td>
                            {% for variant in product.variants.all %}
                            <p class="mb-0">{{ variant.size }} - €{{ variant.price }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if product.category.name == "Seedboxes" or product.category.name == "Sauceboxes" %}
                    <tr>
                        <th class="align-top">Contents: </th>
                        <td>{% for content in product.box_contents.all %}<p class="m-0">{{ content.name }}</p>
                            {% endfor %}</td>
                    </tr>
                    {% endif %}
                    {% if product.category.name == "Seeds" or product.category.name == "Sauces" %}
                    <tr>
                        <th class="align-top">Find in: </th>
                        <td>
                            {% for content in product.box_contents.all %}<p class="m-0">{{ content.name }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if avg_rating.rounded is not None %}
                    <tr>
                        <th>Avg. User Rating: </th>
                        <td>{% if avg_rating.rounded == 1 %}
                            <img width="33" height="80" class="rate-pics" src="{% static 'images/rate1.png' %}">
                            {% elif avg_rating.rounded == 2 %}
                            <img width="63" height="80" class="rate-pics" src="{% static 'images/rate2.png' %}">
                            {% elif avg_rating.rounded == 3 %}
                            <img width="93" height="80" class="rate-pics" src="{% static 'images/rate3.png' %}">
                            {% elif avg_rating.rounded == 4 %}
                            <img width="124" height="80" class="rate-pics" src="{% static 'images/rate4.png' %}">
                            {% else %}
                            <img width="154" height="80" class="rate-pics" src="{% static 'images/rate5.png' %}">
                            {% endif %}
                            <strong>/</strong>
                            <img width="154" height="80" class="rate-pics" src="{% static 'images/rate5.png' %}">
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <!-- Add to cart -->
            <div class="order-1 order-lg-2">
                <hr>
                <h3 class="headings big">Add To Cart:</h3>
                <form action="{% url 'cart:add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <label class="me-4"><strong>Select Options:</strong></label>
                        <select id="prices" name="product_variant" id="product_variant" class="border rounded-3" data-hx-get="/products/current_stock/" data-hx-target="#current_stock">
                            <option value="default">Please select an option...</option>
                            {% for variant in product.variants.all %}
                            <option data-variant_id="{{ variant.id }}" value="{{ variant.id }}">{{ variant.size }}
                                €{{ variant.price }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p><strong>Stock: </strong> <span id="current_stock"></span></p>
                    <div class="my-3">
                        <label class="me-4"><strong>Select Quantity: </strong></label>
                        <div id="change_qty" class="d-inline">
                            <button type="button" id="dec_qty" class="chilli-btn">-</button>
                            <input class="text-center" data-item_id="{{ product.id }}" name="quantity" id="product_qty"
                                type="number" value="1" min="0" max="99">
                            <button type="button" id="inc_qty" class="chilli-btn">+</button>
                            <p id="qty_warning"><em>No more available</em></p>
                        </div>
                    </div>
                    {% if not user.is_authenticated %}
                    <p class="small">If you have an account please <a class="chilli-link" href="{% url 'account_login' %}">login</a> before you start shopping for the best experience.</p>
                    {% endif %}
                    <button id="add" class="chilli-btn my-2 d-block" type="submit" disabled>Add To Cart</button>
                </form>
                {% for item in cart_items %}
                    {% if forloop.first %}
                        {% if product.id == item.product.id %}
                            <p class="small">{{ product }} already in cart.</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <hr>
    </div>
    <div class="row">
        <!-- Reviews -->
        <div class="col-12">
            <h1 class="headings">Reviews</h1>
            {% if reviewed %}
            <p><strong>Thank you for your review! If you'd like to get in touch with any concerns, please visit our <a
                        class="chilli-link" href="{% url 'home:contact' %}">contact page</a>.</strong></p>
            {% else %}
            <!-- Review form -->
            <h3>Write a review for {{ product }}:</h3>
            <p><strong>Or if you would like to get in touch with any concerns, please visit our <a
                class="chilli-link" href="{% url 'home:contact' %}">contact page</a>.</strong></p>
            <form class="col-lg-4 mb-5" method="post">
                {% csrf_token %}
                {{ review_form | crispy }}
                <p>Posting as: {% if user.is_authenticated %}{{ user }}{% else %}Anonymous{% endif %}</p>
                <button type="submit" class="chilli-btn">Submit</button>
            </form>
            {% endif %}
            <div class="row">
                <!-- User reviews -->
                {% for review in reviews %}
                <div class="col-sm-6 col-lg-4 mb-5 px-sm-3">
                    <div class="card px-3">
                        <h2 class="headings big">
                            {% if review.reviewer is not None %}{{ review.reviewer.display_name }}{% else %}Anonymous{% endif %} <span
                                class="small">on {{ review.added_on|date:'d/m/y' }}</span></h2>
                        <p>{{ review }}</p>
                        <p><strong>Rating: </strong>
                            {% if review.rating == 1 %}
                            <img width="33" height="80" class="rate-pics" src="{% static 'images/rate1.png' %}">
                            {% elif review.rating == 2 %}
                            <img width="63" height="80" class="rate-pics" src="{% static 'images/rate2.png' %}">
                            {% elif review.rating == 3 %}
                            <img width="93" height="80" class="rate-pics" src="{% static 'images/rate3.png' %}">
                            {% elif review.rating == 4 %}
                            <img width="124" height="80" class="rate-pics" src="{% static 'images/rate4.png' %}">
                            {% else %}
                            <img width="154" height="80" class="rate-pics" src="{% static 'images/rate5.png' %}">
                            {% endif %}
                        </p>
                            <div class="d-flex flex-row justify-content-between my-2">
                                {% if user.is_authenticated and user.userprofile == review.reviewer %}
                                    <a class="chilli-btn chilli-go" href="{% url 'profiles:edit_review' review.pk %}">Edit Review</a>
                                {% endif %}
                                {% if user.is_staff or user.is_authenticated and user.userprofile == review.reviewer %}
                                    <a class="chilli-btn chilli-dngr" href="{% url 'management:remove_review' review.pk %}">Delete Review</a>
                                {% endif %}
                            </div>
                    </div>
                </div>
                {% empty %}
                    {% if not reviewed %}
                        <p><strong>No reviews yet. Be the first to write one!</strong></p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block additional_script %}
<script src="{% static 'js/product.js' %}"></script>
{% endblock %}